<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Notizen</title>

    <environment names="Development">
        @if(ViewBag.Style == "True") {
            <link rel="stylesheet" href="~/lib/bootstrap-theme-bootswatch-flatly/css/bootstrap.css">
            <link rel="stylesheet" href="~/css/flatly-colorfix.css"/>
        }
        else
        {
            <link rel="stylesheet" href="~/lib/bootswatch-darkly-wiredep/dist/bootstrap.css">
            <link rel="stylesheet" href="~/css/darkly-colorfix.css"/>
        }
        <link rel="stylesheet" href="~/lib/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css">
        <link rel="stylesheet" href="~/css/site.css"/>
        <link rel="stylesheet" href="~/css/rating.css"/>
        <link rel="stylesheet" href="https://fontlibrary.org/face/grand-hotel"/>
        <link rel="icon" type="image/png" href="~/images/favicon-Notizen.png"/>
    </environment>
    <environment names="Staging,Production">
        @if(ViewBag.Style == "True") {
            <link rel="stylesheet" href="~/lib/bootstrap-theme-bootswatch-flatly/css/bootstrap.min.css">
            <link rel="stylesheet" href="~/css/flatly-colorfix.css"/>
        }
        else
        {
            <link rel="stylesheet" href="~/lib/bootswatch-darkly-wiredep/dist/bootstrap.min.css">
            <link rel="stylesheet" href="~/css/darkly-colorfix.css"/>
        }
        <link rel="stylesheet" href="~/lib/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true"/>
        <link rel="stylesheet" href="~/css/rating.css"/>
        <link rel="stylesheet" href="https://fontlibrary.org/face/grand-hotel"/>
        <link rel="icon" type="image/png" href="~/images/favicon-Notizen.png"/>
    </environment>
</head>
<body>
<div class="container body-content">
    <header>
        <div id="logo">Notizen</div>
    </header>
    @RenderBody()
    <hr/>
    <footer>
        <p>&copy; 2016 - Raphaël Giger &amp; Michael Leu</p>
    </footer>
</div>

<environment names="Development">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/moment/moment.js"></script>
    <script src="~/lib/moment/locale/de.js"></script>
    <script src="~/lib/eonasdan-bootstrap-datetimepicker/src/js/bootstrap-datetimepicker.js"></script>
    <script src="~/js/site.js" asp-append-version="true" defer></script>
</environment>
<environment names="Staging,Production">
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery">
        
    </script>
    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        
    </script>
    <script src="~/lib/moment/moment.js"></script>
    <script src="~/lib/moment/locale/de.js"></script>
    <script src="~/lib/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/js/site.min.js" asp-append-version="true" defer></script>
</environment>

@RenderSection("scripts", false)
</body>
</html>
