@model Notizen.Model.NotizModelEditieren

@{
    ViewData["Title"] = "Notiz Editieren";
}

<h2>@ViewData["Title"]</h2>
<hr/>

<div class="form-horizontal">
    <form asp-action="Editieren">
        <input type="hidden" asp-for="Id" />
        @Html.Partial("PartialNotizBearbeiten", Model)
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Speichern" class="btn btn-default"/>
                <a class="btn btn-warning" asp-action="Liste">Abbrechen</a>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}