@{
    ViewData["Title"] = "Fehler";
}

<div class="alert alert-warning error-box" role="alert">
    <span class="glyphicon glyphicon-warning-sign error-glyph" aria-hidden="true"></span>
    Oops, es ist ein Fehler passiert!
</div>