@model Notizen.Model.NotizModelErstellen

@{
    ViewData["Title"] = "Neue Notiz";
}

<h2>@ViewData["Title"]</h2>
<hr/>

<div class="form-horizontal">
    <form asp-action="Neu">
        @Html.Partial("PartialNotizBearbeiten", Model)
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Anlegen" class="btn btn-primary"/>
                <a class="btn btn-warning" asp-action="Liste">Abbrechen</a>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}