/* ugly btn-default color, backport from bootstraplight.css */
.btn-default.active:hover {
    color: #333;
    background-color: #d4d4d4;
    border-color: #8c8c8c;
}
.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active {
    color: #333;
    background-color: #e6e6e6;
    border-color: #8c8c8c;
}
.btn:hover, .btn:focus, .btn.focus {
    color: #333;
}
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}