.rating {
    display: inline-block;
    font-size: 0;
    overflow: hidden;
    position: relative;
}

.rating-input {
    float: right;
    height: 16px;
    margin: 0 0 0 -16px;
    opacity: 0;
    padding: 0;
    width: 16px;
}

.rating:hover .rating-star:hover,
.rating:hover .rating-star:hover ~ .rating-star,
.rating-input:checked ~ .rating-star { background-position: 0 0; }

.rating-star,
.rating:hover .rating-star {
    background: url('/images/star.png') 0 -16px;
    display: block;
    float: right;
    height: 16px;
    position: relative;
    width: 16px;
}

/*.rating-static {
    background: url('/images/star.png') 0 -16px;
    display: block;
    float: left;
    height: 16px;
    position: relative;
    width: 16px;
}*/

.rating-on { background-position: 0 0; }