body {
    padding-bottom: 20px;
    padding-top: 50px;
}

.btnactive { background-color: #255625 }

.btninactive { background-color: #9932cc }

.btnactive:visited { background-color: #255625 }

.btninactive:visited { background-color: #9932cc }

/* Wrapping element */

/* Set some basic padding to keep content from hitting the edges */

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.zurueck {
    text-align: right;
}



}